/*css général corps et en-tête*/

body {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.titlePage {
	width: 100%;
	text-align: center;
	color: white;
	background-color: #212529;
	padding-top: 30px !important;
	padding-bottom: 20px !important;
	margin-bottom: 20px;
}

.logoHotel {
	width: 100px;
	float: left;
	margin-left: 20px;
}

.row {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 479px) {
  .logoHotel {
	width: 50px;
	margin-left: 10px;
  }

  h2 {
	font-size: 1.5rem;
  }
}

/*css page index*/
.paginationNav {
	float: right;
}

.page-link {
	color: white;
	background-color: #212529;
}

.page-link:hover {
	color: #212529;
	background-color: white;
}

.buttonFilters {
	display: flex;
}

.filtersBtn {
	background-color: #212529;
}

@media screen and (max-width: 479px) {
  .responsiveSuppCol {
	display: none;
  }

  .responsiveTable {
	font-size: 0.65rem;
  }

  .responsiveContainer {
  	margin-left: -40px;
  }

  .responsivebtn {
  	font-size: 0.800rem;
  }

  .paginationNav {
	float: left;
	font-size: 0.65rem;
  }
}

/*css page responsive addResa et editResa*/
@media screen and (max-width: 479px) {
	.responsiveRow {
	  margin-right: -75px;
	  margin-left: -75px;
	}

	.card {
		width: 90% !important;
	}

	.buttonRetour {
		margin: auto !important;
		margin-top: 15px !important;
	}
  }

/*css page addResa et editResa*/
.card {
	display: flex;
	width: 60%;
}

.submitUpdate {
	float: right;
}

.buttonRetour {
	margin-right: 78.7%;
	margin-top: 25px;
	margin-bottom: 10px;
}

/*css page delete*/

.buttonDelete {
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*css page responsive deleteResa*/
@media screen and (max-width: 479px) {
	h5 {
		font-size: 1rem;
	}

	.buttonDelete {
		width: 100%;
	}
  }

  /*css tableau index*/
@media screen and (max-width: 479px) {
  .btn-supp {
  	display: none !important;
  }

  .dropdown-toggle {
  	width: 50px;
  }
}

@media screen and (min-width: 479px) {
  .responsiveDrop {
  	display: none !important;
  }
}